!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------

URxvt.depth:                32
! URxvt.geometry:             169x42
URxvt.geometry:             170x39
URxvt*background:           rgba:0b00/0b00/0b00/f900
URxvt.transparent:          false
URxvt.fading:               30
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           true
URxvt*font: xft:Source Code Pro for Powerline:style=Regular:size=10,xft:Fira Mono for Powerline:style=Medium:size=10,xft:Font Awesome 5 Free Regular:style=Regular:size=10

! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          firefox

! Cursor
URxvt.cursorBlink:          false
URxvt.cursorColor:          #d8dee9
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7

!-------------------------------------------------------------------------------
! xterm settings
!-------------------------------------------------------------------------------

! Use a nice truetype font and size by default...
xterm*faceName: IBM Plex Mono
xterm*faceSize: 11

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! I like a LOT of scrollback...
xterm*savelines: 16384

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! right hand side scrollbar...
xterm*rightScrollBar: false
xterm*ScrollBar: false

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

!-------------------------------------------------------------------------------
! st settings
!-------------------------------------------------------------------------------

*alpha:     0.96
*alphaUnfocussed:     0.7
*font:      IBM Plex Mono:pixelsize=14:antialias=true:autohint=true
*cwscale:   1.0
*chscale:   1.0
*borderpx:  0

!-------------------------------------------------------------------------------
! Nord color scheme
!-------------------------------------------------------------------------------

*background: #0b0b0b
*foreground: #d8dee9
*cursorColor: #d8dee9
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

!! black dark/light
*color0: #3B4252
*color8: #4C566A

!! red dark/light
*color1: #BF616A
*color9: #BF616A

!! green dark/light
*color2: #A3BE8C
*color10: #A3BE8C

!! yellow dark/light
*color3: #EBCB8B
*color11: #EBCB8B

!! blue dark/light
*color4: #81A1C1
*color12: #81A1C1

!! magenta dark/light
*color5: #B48EAD
*color13: #B48EAD

!! cyan dark/light
*color6: #88C0D0
*color14: #8FBCBB

!! white dark/light
*color7: #E5E9F0
*color15: #88C0D0

/* ! Dracula Xresources palette */
*dwm.foreground: #F8F8F2
*dwm.background: #282A36
*dwm.color0:     #282A36
*dwm.color8:     #4D4D4D
*dwm.color1:     #FF5555
*dwm.color9:     #FF6E67
*dwm.color2:     #50FA7B
*dwm.color10:    #5AF78E
*dwm.color3:     #F1FA8C
*dwm.color11:    #F4F99D
*dwm.color4:     #BD93F9
*dwm.color12:    #CAA9FA
*dwm.color5:     #FF79C6
*dwm.color13:    #FF92D0
*dwm.color6:     #8BE9FD
*dwm.color14:    #9AEDFE
*dwm.color7:     #BFBFBF
*dwm.color15:    #E6E6E6
